.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 1%;
  width: 50vw;
  z-index: 100;
}

.link {
  background-color: rgb(88, 88, 88);
  padding: 1.5vh 2.5vw;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 1rem;
  margin: 0 0.5rem;
}

.link:hover {
  background-color:  rgb(68, 68, 68);
  color: rgb(158, 158, 158)
}

.fixed {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}


@media only screen and (max-width: 600px) {
  .navbar {
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .link {
    width: 30vw;
    height: 3vh;
    padding: 1.5vh 2.5vw;
    text-align: center;
    size: 1rem;
    border-radius: 1rem;
  }
}